@import url('../../css2');

.navbar-brand img {width:250px;}

.responsive-text {
  font-size: clamp(14px, 2vw, 20px);
}


.border-container {
  max-width: 1000px;
  padding: 30px;
  border: 3px solid black;
  margin: 0 auto; /* centrovka conteinera */
}

/* mobilka ramka uje */
@media (max-width: 768px) {
  .border-container {
    max-width: 90%; /* ili menshe na 90% */
    padding: 20px; /* umensh vnutr otstuppa */
    border-width: 1.5px; /* 4ut' tonshe granica */
  }
}
border-container {
  position: relative; /* pozicionirovat vnutri */
}

.page-wrapper {
  display: flex;
  justify-content: center; /* po gorizont */
  align-items: center;     /* po vert */
  
}


.lines-container {
  display: flex;
  justify-content: center; 
  gap: 40px; /* mejdu liniyami rast */
}

/* Dlya mobil'nyh ustrojstv — v stolbik */
@media (max-width: 600px) {
  .lines-container {
    flex-direction: column; /* vert stek */
    align-items: center; /* centrirovanie po gorizontali */
    gap: 20px; /* rasstoyanie mezhdu liniyami v stolbik */
  }
}

.line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* po centru */
}

.label {
    color: gray;
  margin-bottom: 8px; /* otstup mezhdu nadpis'yu i liniej */
  font-weight: lighter; /* сstyle texta */
}

.line {
  height: 2px;
  background-color: #000;
  width: 400px; /* ili zadajte konkretnuyu shirinu */
  max-width: 500px; /* maksimal'no dopustimaya dlina */
}

.navbar-toggler {
  border: none;
  outline: none;
}

/* ubiraem ramku u ikonki */
.bi {
  border: none;
  outline: none;
}

#staticBackdrop .modal-content {
  border-radius: 0;
  border: none;
}

/* ubiraem granicu inputov */
#staticBackdrop input {
  border: none;
}

#staticBackdrop .modal-header {
  border-bottom: none;
}

#staticBackdrop .modal-footer {
  border-top: none;
}

